@import 'compass';
@import '_variables';
@import '_mixins';

$field-label-font-size: 0.8em;
$field-label-font-weight: 400;
$field-label-font-color: $default-font-color;
$field-label-font-style: normal;
$field-label-padding: .7em .4em .4em .4em;

.x-panel.x-select-overlay {
    
    padding: 0px;
    background-color: #fff;

    > .x-panel-inner {
        
        overflow: hidden;
    }

    .x-list {
        
        background: transparent !important;
    }

    @include mini-box-shadow;
}

/*Checkbox*/
@mixin checkmark($color: $default-theme-color) {
    
    @extend .x-checkmark-base;
    color: $color;
}

.x-checkmark-base {
    
    content: '\f170';
    font-family: $default-icon-font-family;
}

.x-field-checkbox .x-field-mask,
.x-field-radio .x-field-mask {
    
    &::after {
        
        @include checkmark(#ccc);
    }
}

.x-input-checkbox:checked + .x-field-mask::after {
    
    content: '\f16f';
    color: $default-theme-color;
}

.x-item-disabled {
    
    .x-input-checkbox:checked + .x-field-mask::after {
        
        color: lighten($default-theme-color, $default-color-variance);
    }
}

.x-label {
    
    color: $field-label-font-color !important;
    
    font-size: $field-label-font-size !important;
    
    font-weight: $field-label-font-weight !important;
    
    font-style: $field-label-font-style !important;
    
    padding: $field-label-padding !important;
}

.x-input-el {
    
    /*Use this to make sure that the input element aligns itself with the border underneath*/
    padding: 0.7em 0.4em 0.4em 1em !important;
}

.x-field-input {
    
    .x-clear-icon {
        
        margin-right: 0.8em;
    }
}
