@import 'compass';
@import '_variables';
@import '_mixins';

/*
Indexbar
*/
$index-bar-bg-color: $white-94;
$index-bar-color: $default-theme-color;

.x-indexbar {
    
    color: $index-bar-color !important;
    
    @include border-radius(50px);
    
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
    
    &.x-indexbar-pressed {
        
        background-color: $index-bar-bg-color !important;
    }
    
    div {
        
        font-family: "Andale Mono", AndaleMono, monospace !important;
        line-height: 1.2em !important;
    }
}