/*
Colors
*/
/* Dark to light colors (black & white) */
$lead: #191919;
$tungsten: #333333;
$iron: #4C4C4C;
$black-32: #515151;
$black-35: #595959;
$black-38: #606060;
$steel: #666666;
$nickel: #808080;
$aluminum: #999999;
$magnesium: #B3B3B3;
$dark-silver: darken(#CCCCCC, 8%);
$silver: #CCCCCC;
$mercury: #E6E6E6;
$white-94: darken(white, 6%);
$white-96: darken(white, 4%);
$white-97: darken(white, 3%);
$white-98: darken(white, 2%);
$white-99: darken(white, 1%);

/* Other colors */
$facebook-blue: #4c66a4;
$facebook-blue-lighten: lighten($facebook-blue, 30%);
$ios7-blue: #157efb;
$my-blue: #28B7FA;
$my-blue-lighten: lighten($my-blue, 30%);
$ios7-red: #fc3e39;
$ios7-orange: #F92E32;
$my-orange: #ee6557;
$ios7-green: #53d769;
$icloud-reminders-purple: #b14bc9;
$i-purple: $icloud-reminders-purple;
$my-purple: #790F5B;
$ios7-blue-lighten: lighten($ios7-blue, 30%);
$ios7-red-lighten: lighten($ios7-red, 30%);
$ios7-orange-lighten: lighten($ios7-orange, 30%);
$ios7-green-lighten: lighten($ios7-green, 30%);
$icloud-reminders-purple-lighten: lighten($icloud-reminders-purple, 30%);
$i-purple-lighten: $icloud-reminders-purple-lighten;
$my-purple-lighten: lighten($my-purple, 30%);
$my-purple-orange: lighten($my-orange, 30%);
$ios7-music-pink: #F01F73;
$ios7-music-pink-lighten: lighten($ios7-music-pink, 30%);
$ios7-music-pink-r: 240;
$ios7-music-pink-g: 31;
$ios7-music-pink-b: 115;
$ios7-music-red: #EC2154;
$ios7-music-red-r: 236;
$ios7-music-red-g: 33;
$ios7-music-red-b: 84;
$ios7-music-red-lighten: lighten($ios7-music-red, 30%);
$ios7-background-color: #EFEFF4;
$my-green: #40c19c;
$my-green-r: 64;
$my-green-g: 193;
$my-green-b: 156;
/* http://codepen.io/cobblucas/pen/iGpIf */
$alizarin: #E74C3C;
$alizarin-r: 231;
$alizarin-g: 76;
$alizarin-b: 60;
$peterriver: #3498DB;
$peterriver-r: 52;
$peterriver-g: 152;
$peterriver-b: 219;
$wetasphalt: #34495E;
$wetasphalt-r: 52;
$wetasphalt-g: 73;
$wetasphalt-b: 94;

/* Default theme colors */
$default-theme-color: $ios7-music-pink;
$default-theme-color-lighten: $ios7-music-pink-lighten;
$default-theme-color-r: $ios7-music-pink-r;
$default-theme-color-g: $ios7-music-pink-g;
$default-theme-color-b: $ios7-music-pink-b;
$default-theme-background-color: white;
$default-theme-transparency-opacity: 1;
$default-theme-translucency-opacity: 1;
$default-theme-toolbar-translucency-opacity: 1;
$default-background-color: white;
$default-darker-background-color: $white-99;
$default-border-width: 1px;
$default-border-style: solid;
$default-border-color: $silver;
$default-border: $default-border-width $default-border-style $default-border-color;
$default-border-lighter-color: $white-94;

/* Default colors on pressed and such events */
$default-color-normal: $silver;
$default-color-active: $default-theme-color;
$default-color-variance: 10%;

/* Default layer reduction percent */
$layer-reduction-percent: 1.5%;

/* Default heights */
$default-toolbar-height: 3.2em;
$default-line-item-height: 2.5em;
$default-edge-distance-from-toolbars: 2.5em;
$default-stacked-components-separation: 2.5em;
$default-button-height: 2.5em;
$default-field-height: 2.5em;

/* Default font */
$default-font-family: 'Helvetica Neue', HelveticaNeue, Helvetica-Neue, Helvetica, Arial, 'BBAlpha Sans', sans-serif;
$default-font-weight: 400;
$default-font-ultralight-weight: 300;
$default-font-color: $nickel;
$default-font-size: 1em;
/* Compass variables */
$default-text-shadow-color: transparent;
$default-text-shadow-blur: 0px;
$default-text-shadow-v-offset: 0px;
/* Defaut icon font family */
$default-icon-font-family: 'ionicons';

/* Compass transitions */
$default-transition-duration: 400ms;
$default-transition-function: ease-in-out;

/* Fieldsets */
$default-margin-for-fieldsets: $default-toolbar-height;
$default-border-color-for-fieldsets: $default-border-color;
$default-border-color-for-fields: $default-border-color;

/*
Listview 
*/
$list-color: black; /* Core */
$list-active-color: $default-theme-color; /* Core */
$list-pressed-color: lighten($list-color, $default-color-variance); /* Core */
$list-background-color: transparent;
$list-active-background-color: $list-background-color;
$list-pressed-background-color: $list-background-color;
$list-disclosure-icon-font-family: $default-icon-font-family;
$list-disclosure-icon-font-size: 1.5em;
$list-disclosure-icon-font-line-height: 0.9em;
/* Core */
$list-zebrastripe: false;
$list-bg-color: $list-background-color;

/*
Mask
*/
$mask-background-color: lighten($default-theme-color, 45%);
$mask-border-color: transparent;
$mask-border-radius: 500px;
$mask-color: $default-theme-color;
$mask-font-weight: $default-font-weight;
$mask-spinner-font-size: 170%;

/*
Buttons
*/
$default-button-label-side-padding: 8px;

/*
Box shadow
*/
/* Core */
$default-box-shadow-color: $aluminum;