@import 'compass';
@import '_variables';
@import '_mixins';
@import 'core/container';
@import 'core/tabpanel';
@import 'core/messagebox';
@import 'core/formpanel';

$container-background-color: rgba(255, 255, 255, $default-theme-transparency-opacity);
$loading-container-background-color: $default-theme-color;
$container-border-width: 0;
$container-border-style: solid;
$container-border-color: transparent;
$container-border-visible-edge-width: $default-border-width;
$container-border-visible-edge-style: $default-border-style;
$container-border-visible-edge-color: $default-border-color;

.blurred-background {
    
    /* http://codepen.io/rikschennink/pen/zvcgx */
    @include filter(blur(15px));
    opacity: 0.8;
    
    @include single-transition;
}

.tabbar-height-spacer-container {
    
    @include no-background;
    
    min-height: $default-toolbar-height !important;
    height: $default-toolbar-height !important;
}

.stacked-components-separation-container {
    
    @include no-background;
    
    min-height: $default-stacked-components-separation !important;
    height: $default-stacked-components-separation !important;
}

.loading-container, .notification-container {
    
    @include no-border;
    @include no-margin;
    
    min-height: $default-toolbar-height !important;
    height: $default-toolbar-height !important;
    @include full-width;
    
    @include no-background;
    background: $loading-container-background-color !important;
    
    @include mini-reverse-box-shadow;
    
    .x-innerhtml {
        
        background: $loading-container-background-color !important;
        
        font-size: 0.7em !important;
        text-transform: uppercase !important;
        color: white;
        text-align: center !important;
    }
}

.simple-display-container {
    
    height: $default-button-height !important;
}

.page-user-root {
    @include single-transition;
}

.user-group-container, .user-edit-group-container, .photo-message-input-container {
    
    @include single-transition;
    
    @include no-border;
    
    @include mini-reverse-box-shadow;

    @include no-background;
    /*background-color: $container-background-color !important;*/
    background-color: $form-panel-background-color !important;
    
    .user-group-container-feed-container {
        
        @include full-transparency;
        
        .x-scroll-view {

        
        }
    }
    
    .users-list {
        
        .x-scroll-view {

        
        }
    }
}

.photo-message-input-container {

    .x-tabbar {
        
        @include no-background;
        background-color: $tabbar-background-color !important;

        .x-tab {

            .x-button-icon {

                &:before {
                    
                    font-size: 1.9em !important;
                    line-height: 1.25em !important;
                    
                    color: $default-color-active !important;
                }
            }

            .x-button-label {
                
                color: $default-color-active !important;
            }
        }
    }
}