@import 'compass';
@import '_variables';
@import '_mixins';
@import 'core/formpanel';
@import 'core/button';
@import 'core/field';

.x-form {

    .simple-formpanel-display-container {
        
        @include no-background;

        margin-top: 2.5em !important;
        margin-bottom: 0.5em !important;
        
        color: $magnesium !important;
        
        padding: 0 $default-button-label-side-padding !important;
        
        font-weight: 300 !important;
        
        color: $field-label-font-color !important;

        font-size: 0.7em !important;
        font-weight: $field-label-font-weight !important;
        font-style: $field-label-font-style !important;
        
        text-transform: uppercase !important;
        text-align: center !important;
    }
    
    .x-list {
        
        @include no-border;
        border-top: $default-border-width $default-border-style $default-border-color !important;
        border-bottom: $default-border-width $default-border-style $default-border-color !important;
    }
}

.user-account-form-panel {
    
    .x-form-fieldset:first-child {
        
    
    }
    
    .logout-button {
        
    
    }
}

.user-group-add-form-panel {
    
    .x-form-fieldset:first-child {
        
    
    }
    
    .submit-button {
        
    
    }
}

.user-group-edit-form-panel {
    
    .x-form-fieldset:first-child {
        
    
    }
    
    .delete-button {
        
    
    }
}

.message-form-panel {
    
    .message-textarea-field {

        &:before {

            @include no-border;
        }
    }
    
    .message-textarea-maximum-characters-left-label {
        
        @include no-background;
        background-color: $default-background-color !important;
        
        text-align: center !important;
    }
}


.user-signup-form-panel, .user-login-form-panel {
    
    .submit-button {
    
    }
}