@import 'compass';
@import '_variables';
@import '_mixins';
@import 'core/formpanel';
@import 'core/button';

.user-account-form-panel {
    
    .x-form-fieldset:first-child {
        
        /*margin-top: $default-toolbar-height + $default-margin-for-fieldsets !important;*/
    }
    
    .logout-button {
        
        /*margin-bottom: $default-toolbar-height + $default-margin-for-fieldsets !important;*/
    }
}

.user-group-add-form-panel {
    
    .x-form-fieldset:first-child {
        
        /*margin-top: $default-toolbar-height + $default-margin-for-fieldsets !important;*/
    }
    
    .submit-button {
        
        /*margin-bottom: $default-toolbar-height + $default-margin-for-fieldsets !important;*/
    }
}

.user-group-edit-form-panel {
    
    .x-form-fieldset:first-child {
        
        /*margin-top: $default-toolbar-height + $default-margin-for-fieldsets !important;*/
    }
    
    .delete-button {
        
        /*margin-bottom: $default-toolbar-height + $default-margin-for-fieldsets !important;*/
    }
}

.message-form-panel {
    
    .x-form-fieldset {
        
        @include no-margin;
        /*margin-bottom: $default-toolbar-height + $default-margin-for-fieldsets !important;*/
        
        .message-textarea-field {
            
            &:before {
                
                @include no-border;
            }
        }
    }
}


.user-signup-form-panel, .user-login-form-panel {
    
    .submit-button {
        
/*        
        For some reason if the width of 1px is used here, then the actual rendering is invisible i.e. 0px width
        Using a width of 2px renders 1px border
*/
        /*border-bottom-width: 2px !important;*/
    }
}