@import 'compass';
@import '_variables';
@import '_mixins';
@import 'core/listview';

.users-list {
    
    margin-bottom: $default-toolbar-height !important;

    .x-list-item {

        .x-list-disclosure {

            &:before {

                font-family: $list-disclosure-icon-font-family;
                font-size: $list-disclosure-icon-font-size;
                line-height: $list-disclosure-icon-font-line-height;
                content: '\f170';

            }
        }

        &.x-item-selected {
            
            .x-list-disclosure {
                
                &:before {

                    font-family: $list-disclosure-icon-font-family;
                    font-size: $list-disclosure-icon-font-size;
                    line-height: $list-disclosure-icon-font-line-height;
                    content: '\f16f';
                    
                    color: $list-active-color;
                }
            }
        }
    }
}

.user-groups-list {
    
    .x-scroll-scroller {
        
        padding-top: $default-edge-distance-from-toolbars !important;
        padding-bottom: 0.4em !important;
    }
}

.noninteractive-users-list, .interactive-users-list {
    
    margin-bottom: $default-toolbar-height !important;
}