@import 'compass';
@import '_variables';
@import '_mixins';
@import 'core/panel';
@import 'core/tabpanel';

.camera-trigger-panel {
    
    @include no-border;
    @include no-background;
    @include no-margin;
    
    min-height: $default-toolbar-height !important;
    height: $default-toolbar-height !important;
    min-width: $default-toolbar-height !important;
    width: $default-toolbar-height !important;
    
    .x-tabbar {
        
        @include no-background;
        
        &.x-docked-bottom {
        
            @include no-background;
            
            @include no-border;
        }
        
        .x-tab {

            .x-button-icon {

                &:before {
                    
                    color: $default-color-active !important;
                }
            }

            .x-button-label {
                
                color: $default-color-active !important;
            }
        }
    }
}